@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  /* border: black dashed 1px; */
  margin: 0%;
}

body {
  background-color: #f1f4f8;
  font-family: "Poppins";
}

/*-TOPBAR-*/
.topbar {
  height: 57px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

/*topbar-menu*/
.menu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.menu2 img {
  height: 15px;
  padding-right: 10px;
}

/*topbar-competetion*/
.competetion img {
  height: 50px;
}

/*topbar-user*/
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.user img {
  height: 23px;
  padding-left: 13px;
}

/*-PAGE TITLE-*/
.centerDiv2 {
  background-color: blue;
  height: 30px;
  width: 800px;
}

.toLeft {
  /* background-color: #F00; */
  width: 430px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTitle-container {
  position: relative;
  padding-top: 20px;
  /* background-color: thistle; */
  height: 30px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pageTitle-stripe {
  position: absolute;
  background-color: #ffd977;
  width: 430px;
  height: 16.353px;
  transform: rotate(-0.494deg);
  display: flex;
}

.pageTitle-stripe h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  width: 430px;
  text-align: center;
  font-weight: 600;
}

/*-CUSTOM DIVIDER-*/
.customDivider {
  margin-top: 10px;
  width: 900px;
  height: 1.2px;
  background: #cfcfcf;
  margin-left: auto;
  margin-right: auto;
}

/*-HEADER 1-*/
.centerDiv {
  display: flex;
  justify-content: center;
}

.pgrsnData-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pgrsnData-subtitle {
  text-align: left;
  margin-bottom: 20px;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
}

.senaraiPeserta-data-container {
  padding: 35px 15px 10px 15px;
  width: 870px;
  height: 590px;
  border-radius: 17px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  overflow-y: scroll;
}

.senaraiPeserta-content {
  background-color: red;
  height: 400px;
}

/*-HEADER 2-*/
.header2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header2 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 30px;
}

.returnPage-container {
  width: 250px;
  height: 45px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #666666;
  border: 1px solid #969696;
}

.returnPage-contianer img {
  margin-right: 7px;
}

/*-TABLE-*/
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #eeeeee;
  text-align: left;
  padding: 7px 0 7px 15px;
}

td {
  padding: 15 px;
  padding-left: 10px;
}

.bil {
  text-align: center;
}

/*-STATUS-*/
.statusPenyertaan-container {
  display: flex;
  padding: 7px;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
.status2-container {
  width: 135px;
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-style: italic;
}

.theStatus2 {
  width: 121px;
  height: 32px;
  border-radius: 16px;
  background: #f00;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  margin-left: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lihatPenuh-container {
  width: 108px;
  height: 32px;
  border-radius: 9px;
  border: 1.5px solid #1931e3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1931e3;
  cursor: pointer;
  transition: all 1s;
}
.lihatPenuh-container:hover {
  background-color: #1931e3;
  color: white;
}

a {
  color: #4177f5;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: #666666;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 800px;
  height: 50px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.search-icon {
  width: 24px;
  height: 24px;
  background: #000000;
  border-radius: 5px;
  margin-left: 16px;
}

.search-text {
  margin-left: 16px;
  color: #808080;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
}
